

 <div class="container-fluid bs-component row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                    <b> Match Held On:</b> {{SingleMatch.DateHeld}}
                    </p>
                    <p>
                     <b> Team 1 Name:</b>  {{SingleMatch.Team1_Name}}
                    </p>
                    <p>
                      <b> Team 2 Name:</b>   {{SingleMatch.Team2_Name}}
                    </p>
                    <p>
                       <b> Team 1 Score:</b>  {{SingleMatch.Team1_Score}}
                    </p>
                    <p>
                     <b> Team 2 Score:</b>  {{SingleMatch.Team2_Score}}
                    </p>
                    <p>
                     <b> Won By:</b>  {{SingleMatch.WonBy}}
                    </p>
                </div>
        
</div>